{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'portfolio/custom.css' %}">
  <link rel="stylesheet" href="{% static 'portfolio/all.min.css' %}">

  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  
  <link rel="icon" type="image/png" href="{% static 'portfolio/Logo.png' %}">

  <title>Max Malkov</title>
</head>

<body>

  <nav id="topNav" class="sticky navbar navbar-expand-md navbar-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'portfolio' %}">
        <img src="{% static 'portfolio/Logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="Logo">
        <span>Max Malkov</span>
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarNav">
        <div class="ml-auto navbar-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% static 'portfolio/Resume.pdf' %}">Resume</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://vk.com/m.malkov2013" target="_blank">VKontakte</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://t.me/Max_Mal20" target="_blank">Telegram</a>
            </li>
            <dir>
              <li>
                <a role="button" href="{% url 'blog:all_blogs' %}" class="fork-btn-inner btn btn-primary">Blog</a>
              </li>
            </dir>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="home-content container">
      {% block content %}{% endblock %}
    </div>
  </div>

  <div></div>
  <div class="footer container-fluid">
    <div class="footer-copywright col">
      <h3><ya-tr-span data-index="7-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
          data-value="Copyright ©" data-translation="Авторское право ©" data-ch="0" data-type="trSpan">Авторское право
          ©</ya-tr-span><ya-tr-span data-index="7-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
          data-value="2023" data-translation="2023" data-ch="0" data-type="trSpan">2023</ya-tr-span></h3>
    </div>
  </div>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

</body>

</html>