{% extends 'portfolio/base.html' %}
{% block content %}
{% load static %}



<div class="content container">
    <div class="row">
        <div class="home-header col-md-7">
            <h1 style="font-size: 2.8em;">
                <span class="purple">
                    <ya-tr-span data-index="2-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
                        data-value=" Hey, I'm" data-translation="Привет, я" data-ch="0" data-type="trSpan"
                        data-selected="false">Привет, я</ya-tr-span>
                </span>
                <ya-tr-span data-index="2-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
                    data-value=" Roman Rakhlin" data-translation=" Максим Малков" data-ch="0" data-type="trSpan"
                    data-selected="false"> Максим Малков</ya-tr-span>
            </h1>
            <p style="font-size: 1.2em;">
                <ya-tr-span data-index="3-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
                    data-value="I'm a simple guy from the outback " data-translation="Я простой парень из глубинки "
                    data-ch="0" data-type="trSpan" data-selected="false">Я простой парень из глубинки </ya-tr-span>
                <i>
                    <b class="purple">
                        <ya-tr-span data-index="3-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
                            data-value="Our boundless country " data-translation="Нашей необъятно страны" data-ch="0"
                            data-type="trSpan" data-selected="false">Нашей необъятно страны</ya-tr-span>
                    </b>
                </i>
                <ya-tr-span data-index="3-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
                    data-value=", wishing to succeed in this world
                    and achieve certain " data-translation=", желающий преуспеть в этом мире
                    и достичь определенных " data-ch="0" data-type="trSpan" data-selected="false">, желающий преуспеть
                    в этом мире
                    и достичь определенных </ya-tr-span>
                <i>
                    <b class="purple">
                        <ya-tr-span data-index="3-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
                            data-value="heights. " data-translation="высот." data-ch="0" data-type="trSpan"
                            data-selected="false">высот.</ya-tr-span>
                    </b>
                </i>
                <br>
                <br>
                <ya-tr-span data-index="3-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
                    data-value="I am currently studying at  Specialty " Industrial thermal power engineering""
                    data-translation="Внастоящее время обучаюсь в университете" data-ch="0" data-type="trSpan"
                    data-selected="false">Внастоящее время обучаюсь в
                    университете </ya-tr-span>
                <i>
                    <b class="purple">
                        <ya-tr-span data-index="3-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
                            data-value="ISPU " data-translation="ИГЭУ. " data-ch="0" data-type="trSpan"
                            data-selected="false">ИГЭУ. </ya-tr-span>
                    </b>
                </i>
                <ya-tr-span data-index="3-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
                    data-value=" Specialty " data-translation=" По специальности " data-ch="0" data-type="trSpan"
                    data-selected="false"> По специальности </ya-tr-span>
                <i>
                    <b class="purple">
                        <ya-tr-span data-index="3-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
                            data-value="'Industrial thermal power engineering'"
                            data-translation="'Промышленная теплоэнергетика'" data-ch="0" data-type="trSpan"
                            data-selected="false">"Промышленная теплоэнергетика"</ya-tr-span>
                    </b>
                </i>
                <br>
                <br>
                <i>
                    <b class="purple">
                        <ya-tr-span data-index="3-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
                            data-value="A strong desire to change their field of activity to
                            Information Technology." data-translation="Большое желание поменять свою сферу деятельности на
                            Информационные технологии." data-ch="0" data-type="trSpan" data-selected="false">Большое
                            желание поменять свою сферу деятельности на
                            Информационные технологии.</ya-tr-span>
                    </b>
                </i>


            </p>
        </div>
        <div class="myAvtar col-md-4">
            <div
                style="will-change: transform; transform: perspective(2000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                <img src="/static/portfolio/Fise.png" class="img-fluid" alt="аватар">
            </div>

        </div>
    </div>




    <h2 style="font-size: 3.8em;">
        <span class="width">
            <ya-tr-span data-index="2-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
                data-value=" My portfolio" data-translation="Моё портфолио" data-ch="0" data-type="trSpan"
                data-selected="false">Моё портфолио</ya-tr-span>
        </span>
    </h2>
    <hr>
</div>

<div class="post-content-wrapper">
    <div class="flex flex2">
        {% for project in projects %}
        <div class="child flex2-child">
            <div class="App">
                <h5>{{ project.title }}</h5>
            </div>
            <p class="App">{{ project.description }}</p>
            {% if project.url %}
            <a href="{{ project.url }}">
                <img src="{{ project.image.url }}" class="image" width="260" height="260">
            </a>
            {% else %}
            <img src="{{ project.image.url }}" class="image" width="260" height="260">
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}