{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}
<h1 style="font-size: 2.8em;">
    <span class="width">
        <ya-tr-span data-index="2-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
            data-value=" My Blog" data-translation="Мой Блог" data-ch="0" data-type="trSpan" data-selected="false">Мой
            Блог</ya-tr-span>
    </span>
</h1>
<hr>
<br>
<br>
<h1 style="font-size: 2.8em;">
    <span class="width">
        <ya-tr-span data-index="2-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
            data-value="Max has written {{ blogs.count }} blog{{ blogs.count|pluralize }}"
            data-translation="Макс написал {{ blogs.count }} блог{{ blogs.count|pluralize }}" data-ch="0"
            data-type="trSpan" data-selected="false">Макс написал {{ blogs.count }}
            блог{{blogs.count|pluralize}}</ya-tr-span>
    </span>
</h1>

{% for blog in blogs %}

<br>
<br>
<a class="purple" href="{% url 'blog:detail' blog.id %}">

    <h2>{{ blog.title }}</h2>
</a>
<div class="purple">
    <h5>{{ blog.dataTime|date:'M d Y G:i' }}</h5>
</div>

<p>{{ blog.discription|striptags|truncatechars:150 }}</p>
{% endfor %}



{% endblock %}