{% extends 'portfolio/base.html' %}
{% block content %}
{% load static %}

<section class="home">
    <div class="home-content">
        <h3>A Little Bit</h3>
        <h1>About Yourself</h1>
        <br>
        <p>Participated in the creation of the official website for
            <br>the college based on WordPress.
        </p>
        <br>
        <p>Launched a website online connected a domain. (First experience)<br>
            Set up a Linux-based server and cash register equipment for a grocery store</p>
        <br>
        <h3>Part-time Job</h3>
        <p>At the moment I understand the possibilities of the Django framework.
            <br>Hobby: I am fond of design in the genre of illustrations.
            Detailing (professional car wash)
        </p>
        <div class="home-sci">
            <a href="https://vk.com/m.malkov2013" style="--i:7"><i class='bx bxl-vk'></i></a>
            <a href="https://t.me/Max_Mal20" style="--i:8"><i class='bx bxl-telegram'></i></a>
            <a href="mailto:m.malckov2013@yandex.ru" style="--i:9"><i class='bx bxl-gmail'></i></a>
            <a href="{% static 'portfolio/Resume.pdf' %}" style="--i:10"><i class='bx bxs-save'></i></a>
        </div>
    </div>
</section>

{% endblock %}